<div class="container">
    <div class="column-left">
        <div>
            <p>
                Name : {{products.name}}
            </p>
        </div>
        <div>
            <p>
                Description : {{products.description}}
            </p>
        </div>
        <div>
            <p>
                Price : {{products.price}}
            </p>
        </div>
            <a href="/product">Go to Product List</a>

    </div>

    <div class="column-right">
        <img src="{{products.imgurl}}">
    </div>
    
</div>