.container{
    margin: 70px 400px;
    border: 1px solid black;
    padding: 30px 150px;
    width: 50%;
}

input{
    width: 210%;
}

h2{
    text-align: center;
}

.subbtn{
    text-align: center;
}

button{
    width: 100px;
}