<div class="container">
    <div class="text-center">
        <form [formGroup]="reactiveForm">
            <div>
                <input class="inputbox" #input placeholder="Full Name">
            </div>
            <div>
                <input class="inputbox" #input placeholder="Email ID">
            </div>
            <div>
                <input class="inputbox" #input placeholder="Address">
            </div>
            <div>
                <input class="inputbox" #input placeholder="City">
            </div>
            <div>
                <input class="inputbox" #input placeholder="Phone Number">
            </div>
            <div>
                <input type="password" class="inputbox" #input placeholder="Password">
            </div>
            <div>
                <input type="text" class="inputbox" #input placeholder="Confirm Password">
            </div>

        </form>
    </div>
</div>